asyncpg
pydantic
fastapi
uvicorn
sqlalchemy
alembic
celery
pydantic-settings
python-dotenv
structlog
redis
psycopg[binary]
aiosqlite
python-multipart
httpx


#--------------------
fastapi
uvicorn[standard]

sqlalchemy>=2.0
alembic
psycopg[binary]

redis
celery

pydantic
pydantic-settings
python-dotenv

structlog

python-multipart
httpx

passlib[bcrypt]
python-jose[cryptography]
email-validator

pillow

pytest
pytest-asyncio
pytest-cov

black
ruff
mypy

python-telegram-bot

bcrypt==3.2.2

ffmpeg-python

filetype